* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #274471;
    font-family: "lato", sans-serif;
  }
  .container {
    width: 400px;
    background-color: rgb(243, 243, 243);
    border-radius: 6px;
    margin: 30px auto;
  }
  #contactForm {
    padding: 25px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
  
    padding: 10px 16px 10px 16px;
  
    margin: 8px 0;
  
    border-radius: 5px;
  
    border: 5px black;
    background-color: rgba(120, 120, 120, 0.4);
  }
  
  input[type="submit"] {
    background-color: #1ac0f3;
    padding: 14px, 20px;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 5px;
    height: 25px;
  }
  
  input[type="submit"]:hover {
    background-color: red;
  }
  
  input {
    display: inline-block;
    width: 100%;
  }